body{
    background-color: #A874D2;
    color: #F5F5F5;
}



#hamburger {
    display: none;
}

.hamburger {
    display: inline-block;
    position: absolute;
    right: 2em;
    top: 2em;
    width: 20px;
    height: 18px;
    padding: 0;
    cursor: pointer;
}

.hamburger span {
    position: absolute;
    height: 3px;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transform: all 1s ease-in-out;
}


.hamburger span:nth-child(1) {
    top: 6px;
}

.hamburger span:nth-child(2) {
    top: 12px;
}

#hamburger:checked~.hamburger span:nth-child(1) {
    opacity: 0;
}

#hamburger:checked~.hamburger span:nth-child(2) {
    transform: rotate(45deg);
    top: 6px;
}

#hamburger:checked~.hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
}

h1{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-size: 3em;
}

.mindyMainScreen{
    display: block;
    margin: auto;
}

.join{
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #7DDE92;
    color: #F5F5F5;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 100px;
}

.kernwaarden {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

h2{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.doel p{
    margin-top: 40px;
    text-align: center;
}

.doel img{
    text-align: left;
    display: block;
}
