body{
    background-color: #A874D2;
    color: #F5F5F5;
    margin: 0;
}

#hamburger {
    display: none;
}

.hamburger {
    display: inline-block;
    position: absolute;
    right: 2em;
    top: 2em;
    width: 20px;
    height: 18px;
    padding: 0;
    cursor: pointer;
}

.hamburger span {
    position: absolute;
    height: 3px;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transform: all 1s ease-in-out;
}


.hamburger span:nth-child(1) {
    top: 6px;
}

.hamburger span:nth-child(2) {
    top: 12px;
}

#hamburger:checked~.hamburger span:nth-child(1) {
    opacity: 0;
}

#hamburger:checked~.hamburger span:nth-child(2) {
    transform: rotate(45deg);
    top: 6px;
}

#hamburger:checked~.hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 6px;
}

h1{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin: 10px;
}

.mindyMainScreen{
    display: block;
    margin: auto;
}

nav img{
    margin: 10px;
}
.join{
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #7DDE92;
    color: #F5F5F5;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 100px;
}

.kernwaarden {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

h2{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.doel p{
    margin-top: 40px;
    text-align: center;
}

.doel img{
    text-align: left;
    display: block;
}

.activiteiten{
    margin-top: 40px;
    text-align: center;
}

.activiteiten img{
    display: block;
    text-align: left;
}

.merch {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.merch > div {
    width: calc(50% - 20px); 
    text-align: center;
}

.contact{
    text-align: center;
    margin-top: 40px;
}

.contact {
    padding: 30px;
    border-radius: 10px;
    width: 350px; 
    margin: auto;
}

.contact h2 {
    text-align: center;
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
}

.contact form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.contact label {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

.contact input,
.contact textarea {
    background-color: white;
    border: none;
    padding: 14px 15px;
    border-radius: 25px;
    font-size: 16px;
    width: 100%;
}

.contact textarea {
    height: 130px;
    resize: none;
    border-radius: 20px;
}

.contact input[type="submit"] {
    background-color: white;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

.contact-image {
    display: block;
    width: 80%;
    margin: 20px auto 0 auto;
}

footer{
    text-align: center;
    margin: 20px;
    font-size: 14px;
}




