body{
    background-color: #A874D2;
    color: #F5F5F5;
    margin: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #A874D2;
    font-weight: 600;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #F5F5F5;
    border-radius: 5px;
}


    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: none;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }


h1{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin: 10px;
}

.mindyMainScreen{
    display: block;
    margin: auto;
}

nav img{
    margin: 10px;
}
.join{
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #7DDE92;
    color: #F5F5F5;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 100px;
}

.kernwaarden {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

h2{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.doel p{
    margin-top: 40px;
    text-align: center;
}

.doel img{
    text-align: left;
    display: block;
}

.activiteiten{
    margin-top: 40px;
    text-align: center;
}

.activiteiten img{
    display: block;
    text-align: left;
}

.merch {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.merch > div {
    width: calc(50% - 20px); 
    text-align: center;
}

.contact{
    text-align: center;
    margin-top: 40px;
}

.contact {
    padding: 30px;
    border-radius: 10px;
    width: 350px; 
    margin: auto;
}

.contact h2 {
    text-align: center;
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
}

.contact form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.contact label {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

.contact input,
.contact textarea {
    background-color: white;
    border: none;
    padding: 14px 15px;
    border-radius: 25px;
    font-size: 16px;
    width: 100%;
}

.contact textarea {
    height: 130px;
    resize: none;
    border-radius: 20px;
}

.contact input[type="submit"] {
    background-color: white;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

.contact-image {
    display: block;
    width: 80%;
    margin: 20px auto 0 auto;
}

footer{
    text-align: center;
    margin: 20px;
    font-size: 14px;
}

@media (min-width: 768px){

    body {
        font-size: 18px;
        color: #F5F5F5;
    }

    
    .navbar {
        padding: 25px 40px;
    }

    .nav-links {
        font-size: 18px;
        color: #F5F5F5;
    }

    
    h1 {
        font-size: 3.5em;
        margin: 30px 0;
        text-align: center;
    }

    h2 {
        font-size: 2.4em;
        margin-bottom: 30px;
    }

    .mindyMainScreen {
        width: 50%;
        margin: 40px auto;
        
    }

    .join {
        width: 260px;
        padding: 14px;
        font-size: 18px;
    }

    .kernwaarden {
        flex-direction: row;
        gap: 40px;
        margin: 60px ;
        width: 80%;
    }

    .doel,
    .activiteiten {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .doel img,
    .activiteiten img {
        width: 70%;
        display: block;
    }

    .merch {
        width: 80%;
        margin: 60px auto;
    }

    .merch > div {
        width: calc(50% - 20px);
    }

    .contact {
        width: 70%;
        padding: 40px;
        margin-top: 60px;
    }

    .contact h2 {
        font-size: 2.2em;
    }

    .contact input,
    .contact textarea {
        font-size: 17px;
    }

    .contact-image {
        width: 60%;
    }

    footer {
        font-size: 15px;
        margin-top: 50px;
    }
}
